<div id="wrapper">
  <div class = "header" id="header">
    <h1 class="site_title" id="site_title"><img id="site_title_image" alt="Innova Rooms" src="/assets/innova_logo-0da0ad8d02cf9e0132cb76b4e3d93e4c.png" /></h1>
    <ul class="header-item tabs" id="tabs">
          <li id="Reservations"><a href="/reservations" data-ajax="false">Reservations</a></li>
          <li id="Rooms"><a href="/rooms">Available Rooms</a></li>
          <li id="Locations"><a href="/locations">Available Locations</a></li>

          <!--Removeal of link with out super user status-->
          <% unless (current_admin_user rescue nil).nil?%>
            <% if current_admin_user.super_user == true%>
              <li id="dashboard"><a href="/admin/dashboard">Admin Area</a></li>
            <%end%>
          <%end%>
    </ul>
        <ul class="header-item tabs" id="utility_nav">

          <% unless (current_admin_user rescue nil).nil?%>       
            <li id="current_user"><a><%= current_admin_user.email %></a></li>
            <li id="logout"><a data-method="get" href="/admin/logout">Logout</a></li>
          <%else%>
            <li id="sign_in"><a data-method="get" href="/admin/login">Sign In</a></li>
          <%end%>
        </ul>
  </div>
 
  <div class="title_bar" id="title_bar">
    <div id="titlebar_left">
      
        <h2 id="page_title">Reservations</h2>
    </div>
  <div id="titlebar_right">
  
    <div class="action_items">
      <% unless (current_admin_user rescue nil).nil?%>
        <span class="action_item"><%= link_to 'New Reservation', new_reservation_path %></span>
      <%end%>
    </div>
  </div>
</div>

<div class="flashes"></div>
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
<!-- Header sections-->

<body>

<div id="calendar">
<%= month_calendar do |date| %>
  <!--<div id="monthday">-->
  <%= date.day %>
  <!--</div>-->

  <!-- NEED STATEMENT HERE TO SUPPRESS OLD Events -->

  <% @reservations.where("start_date >= ?", Date.today).each do |res| %>
    <% if date.strftime("%m/%d/%Y") == res.start_date.strftime("%m/%d/%Y")%>
     <div id="meeting">
      <!--<%= res.name %>-->
      <%= link_to res.name, res %>
    </div>
    <% end %>
  <% end %>

<% end %>
</div>

<div class="index_content">
  <div class="index_as_table">
    <table border="0" cellspacing="0" cellpadding="0" id="index_table_reservations" class="index_table index" paginator="true">
      <thead>
        <tr>
          <th>Name</th>
          <!--<th>Description index_table index</th>-->
          <th>Room</th>
          <th>Approved</th>
          <th>Start date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>User</th>
          <th>Admin user</th>
        </tr>
      </thead>

      <tbody>
        <% @reservations.where("start_date >= ?", Date.today).order('start_date ASC').each do |reservation| %>
          <tr>
            <td class="col col-name"><%= link_to reservation.name, reservation %></td>
            <!--<td><%= reservation.description %></td>-->
            <td class="col col-room_id"><%= link_to reservation.room.name, reservation.room %></td>
            <% if reservation.approved == true %>
              <div id="approved">
                <td><%= "Yes"%></td>
              </div>
            <% end %>
            <% if reservation.approved == false %>
             <td><%= "No"%></td>
            <% end %>
            <!--<td><%= reservation.approved %></td>-->        
            <td class="col col-start_date"><%= reservation.start_date.strftime("%m/%d/%Y") %></td>
            <td class="col col-start_time"><%= reservation.start_time.strftime('%l:%M:%p') %></td>
            <td class="col col-end_time"><%= reservation.end_time.strftime('%l:%M:%p') %></td>
            <% if reservation.user_id != nil%>
              <!-- Do something to to get email form admin_user -->
              <%my_user = AdminUser.where("id = ?", reservation.user_id).first%>
              <td><%= my_user.email %></td>
            <%else%>
              <td>none</td>
            <%end%>
            <% if reservation.admin_user != nil%>
                <td class="col col-admin_user"><%= reservation.admin_user.email %></td>
              <% else%>
                <td>none</td>
            <%end%>

          </tr>
        <% end %>
      </tbody>
    </table>

<br>

</body>
<div class="footer" id="footer" style="text-align: Left;">
        <div>
          <small>Innova Powering What&#39;s Next <%=Date.today.year%></small>
      </div>
</div>

