<div id="wrapper">
  <div class = "header" id="header">
    <h1 class="site_title" id="site_title"><img id="site_title_image" alt="Innova Rooms" src="/assets/innova_logo-0da0ad8d02cf9e0132cb76b4e3d93e4c.png" /></h1>
    <ul class="header-item tabs" id="tabs">
          <li id="Reservations"><a href="/reservations">Reservations</a></li>
          <li id="Rooms"><a href="/rooms">Available Rooms</a></li>
          <li id="Locations"><a href="/locations">Available Locations</a></li>
          <% unless (current_admin_user rescue nil).nil?%>
            <% if current_admin_user.super_user == true%>
              <li id="dashboard"><a href="/admin/dashboard">Admin Area</a></li>
            <%end%>
          <%end%>
        </ul>
        <ul class="header-item tabs" id="utility_nav">

          <% unless (current_admin_user rescue nil).nil?%>       
            <li id="current_user"><a><%= current_admin_user.email %></a></li>
            <li id="logout"><a data-method="get" href="/admin/logout">Logout</a></li>
          <%else%>
            <li id="sign_in"><a data-method="get" href="/admin/login">Sign In</a></li>
          <%end%>
        </ul>
  </div>
 
  <div class="title_bar" id="title_bar">
    <div id="titlebar_left">
       
        <h2 id="page_title">Rooms</h2>
    </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><%= link_to 'New Reservation', new_reservation_path %></span>
    </div>
  </div>
</div>
<!-- Head information-->


<div class="flashes"></div>
  <div id="active_admin_content" class="without_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="panel">
              <h3>Room Details</h3>
          <div class="panel_contents">
            <div class="attributes_table reservations" id="attributes_table_reservations_8">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody><tr class="row row-name">
                        <th>Name</th>
                        <td><%= @room.name %></td>
                      </tr>
                      <tr class="row row-description">
                        <th>Description</th>
                        <td><%= @room.description %></td>
                      </tr>
                      <tr searchable="true" class="row row-location">
                        <th>Location</th>
                        <td><%= link_to @room.location.name, @room.location %></td>
                      </tr>
                      <tr class="row row-capacity">
                        <th>Capacity</th>
                        <td><%= @room.capacity %></td>
                      </tr>
                      <tr class="row row-admin_user">
                        <th>Admin User</th>
                        <%if @room.admin_user != nil %>
                          <td><%= @room.admin_user.email %></td>
                        <%else%>
                          <td>none</td>
                        <%end%>
                      </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="panel">
            <h3>Room Location</h3>
             <div class="index_content">
               <div class="index_as_table">

              <div class="attributes_table reservations" id="attributes_table_reservations_8">
                 <table border="0" cellspacing="0" cellpadding="0" class="index_table index" paginator="true">
                <thead>
                  <tr>
                    <th>Location Name</th>
                    <th>Address Line</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ZipCode</th>
                    <th>Phone</th>
                  </tr>
                  </thead>
                    <tbody>
                        <% Locations.where(:id => @room.location_id).each do |loc|%>
                            <!-- Loop Thru the locations table -->
                              <tr>

                              <td><%= link_to loc.name, loc %></td>
                              <td><%= loc.address_l1%></td>
                              <td><%= loc.city%></td>
                              <td><%= loc.state%></td>
                              <td><%= loc.zipcode%></td>
                              <td><%= loc.phone_number%></td>
                              </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>

          <div class="panel">
            <h3>Available Equipment</h3>
             <div class="index_content">
               <div class="index_as_table">

              <div class="attributes_table reservations" id="attributes_table_reservations_8">
                 <table border="0" cellspacing="0" cellpadding="0" class="index_table index" paginator="true">
                  <thead>
                    <tr>
                      <th>Room Name</th>
                      <th>Equipment Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                    <tbody>
                        <% EquipmentAssingment.where(:rooms_id => @room.id).each do |assing|%>
                          <% Equipment.where("id = ?", assing.equipment_id).each do |equ|%>
                            <!-- Loop Thru the equipment_assingments table -->
                              <tr>

                              <td><%=@room.name%></td>
                              <td><%=equ.name%></td>
                              <td><%= equ.description%></td>

                              </tr>
                            <!-- End loop here-->
                          <%end%>
                        <%end%>
                    </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<%=link_to "Back", :back%>

